    :root {
        --white: white;
        --dark-blue: #1d2b4b;
        --dark-grey: #6e7a82;
        --colors-primary: #f4511e;
        --link-blue: #0454cc;
        --light-blue: #f1f4f8;
        --to-mobile-factor: 0.7;
    }

    @media only screen and (max-width: 768px) {
        :root {
            --5px: calc(var(--to-mobile-factor) * 5px);
            --8px: calc(var(--to-mobile-factor) * 8px);
            --9px: calc(var(--to-mobile-factor) * 9px);
            --14px: calc(var(--to-mobile-factor) * 14px);
            --16px: calc(var(--to-mobile-factor) * 16px);
            --18px: calc(var(--to-mobile-factor) * 18px);
            --22px: calc(var(--to-mobile-factor) * 22px);
            --24px: calc(var(--to-mobile-factor) * 24px);
            --25px: calc(var(--to-mobile-factor) * 25px);
            --32px: calc(var(--to-mobile-factor) * 32px);
            --36px: calc(var(--to-mobile-factor) * 36px);
            --40px: calc(var(--to-mobile-factor) * 40px);
            --42px: calc(var(--to-mobile-factor) * 42px);
            --58px: calc(var(--to-mobile-factor) * 58px);
            --60px: calc(var(--to-mobile-factor) * 60px);
            --100px: calc(var(--to-mobile-factor) * 100px);
            --160px: calc(var(--to-mobile-factor) * 160px);
            --200px: calc(var(--to-mobile-factor) * 200px);
            --500px: calc(var(--to-mobile-factor) * 500px);
            --605px: calc(var(--to-mobile-factor) * 605px);
            --760px: calc(var(--to-mobile-factor) * 760px);
        }

        .m-xs-auto {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .ourrecord {}

        .ourmission {
          background-image: url("../img/18.png"); 
          background-size: cover; 
          background-repeat: no-repeat;
        }

        .flagship {}

    }

    @media screen and (min-width: 768px) {
        :root {
            --5px: 5px;
            --8px: 8px;
            --9px: 9px;
            --14px: 14px;
            --16px: 16px;
            --18px: 18px;
            --22px: 22px;
            --24px: 24px;
            --25px: 25px;
            --32px: 32px;
            --36px: 36px;
            --40px: 40px;
            --42px: 42px;
            --58px: 58px;
            --60px: 60px;
            --100px: 100px;
            --160px: 160px;
            --200px: 200px;
            --500px: 500px;
            --605px: 605px;
            --760px: 760px;
        }

        .m-xs-auto {}

        .ourrecord {
            height: 441px;
        }

        .flagship {
            height: 540px;
        }

        .ourmission {
          height: 680px; 
          background: url("../img/18.png"); 
          background-size: cover; 
          background-repeat: no-repeat;
        }

        .max-width-lg-605px {
            max-width: var(--605px)
        }
    }

    body {
        margin: 0;
        font-family: 'Roboto';
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .img-container {
        position: relative;
        top: 0px;
        right: 0px;
    }

    .main-h1 {
        position: absolute;
        left: 15%;
        top: 30%;
        color: var(--white);
    }

    .main-h2 {
        position: absolute;
        left: 15%;
        top: 45%;
        color: var(--white);
    }

    .main-apply {
        position: absolute;
        left: 15%;
        top: 60%;
        color: var(--white);
    }

    .apply-font {
        font-size: var(--14px);
        font-weight: bold;
    }

    .main-h1-text {
        font-size: var(--36px);
    }

    .main-h2-text {
        font-size: var(--24px);
        max-width: var(--500px)
    }

    .header {
        padding-top: var(--9px);
        margin-bottom: var(--9px);
        margin-left: var(--60px);
    }

    .section {
        padding-top: var(--42px);
        padding-bottom: var(--42px)
    }

    .section-title {
        font-size: var(--36px);
        line-height: 1.11;
        letter-spacing: 0.56px;
        color: var(--dark-blue);
    }

    .section-sub-title {
        font-size: var(--16px);
        font-weight: normal;
        letter-spacing: normal;
        color: var(--dark-grey);
    }

    .section-title-spaced {
        margin-top: var(--32px)
    }

    .section-title-underline {
        margin-top: var(--8px);
        width: var(--100px);
        height: var(--5px);
        background-color: var(--colors-primary);
    }

    .card {
        border-radius: var(--16px);
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
        background-color: var(--white);
        text-align: center;
        padding-top: var(--16px);
        padding-bottom: var(--16px)
    }

    .bg-primary-custom {
        background-color: var(--colors-primary);
    }

    .bg-link-blue {
        background-color: var(--link-blue);
    }

    .bg-dark-blue {
        background-color: var(--dark-blue);
    }

    .bg-dark-blue {
        background-color: var(--dark-blue);
    }

    .bg-light-blue {
        background-color: var(--light-blue)
    }

    .card-circled-image {
        width: 40px;
        height: 40px
    }

    /*.card-title {
        color: #2b426f;
        font-size: var(--22px);
        margin-top: var(--16px);
        margin-bottom: var(--9px)
    }

    .card-body {
        color: #9da6ad;
        font-size: var(--16px);
        font-weight: normal;
        line-height: 1.25;
        text-align: justify;
        padding-top: 0px;
        padding-bottom: 0px
    }*/

    .bold {
        font-weight: bold
    }

    .card-body-spaced {
        margin-top: var(--16px);
        margin-bottom: var(--16px)
    }

    .img-centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .card-body-up {
        position: relative;
        top: -30px;
    }

    .margin-bottom-small {
        margin-bottom: var(--16px)
    }

    .card-text-custom {
        color: #9da6ad;
        font-size: var(--16px);
        font-weight: normal;
        line-height: 1.25;
    }

    .card-title-custom {
        color: #2b426f;
        font-size: var(--22px);
    }

    .card-circled-div {
        display: block;
        width: 60px;
        height: 60px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        text-align: center;
        padding-top: 10px
    }

    .primary-color-custom {
        color: var(--colors-primary);
    }

    .bg-opaque-08 {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .color-dark-grey {
        color: var(--dark-grey);
    }

    .color-dark-blue {
        color: var(--dark-blue);
    }

    .font-size-18px {
        font-size: var(--18px);
    }

    .font-size-14px {
        font-size: var(--14px);
    }

    .font-size-16px {
        font-size: var(--16px);
    }

    .font-size-24px {
        font-size: var(--24px);
    }

    .font-size-58px {
        font-size: var(--58px);
    }

    .max-width-160px {
        max-width: var(--160px)
    }

    .max-width-605px {
        max-width: var(--605px)
    }